* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

header, footer {
    background-color: rgb(0, 67, 94);
    padding: 1rem;
}

main {
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 0.5rem;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.navigation a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    font-weight: bold;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    place-items: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.card {
    color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    border: none;
    background-color: rgba(0, 107, 150, 0.822);
    padding: 1.5rem;
    text-align: center;
}

.card>h3 {
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    padding: 1rem 0;
}

.card>img {
    width: 100%;
    min-height: auto;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px,
     rgba(0, 0, 0, 0.6) 0px 7px 13px -3px inset;
    margin: 1rem 0 0 0;
    border-radius: 0.6rem;
}

.card>p {
    flex-grow: 1;
}

.card>span {
    font-weight: bold;
}

#menu::before {
    content: "☰";
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

#menu.open::before {
    content: "X";
    color: rgb(255, 255, 255);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 2.4rem;
    right: 1rem;
}

.open a {
    display: block;
}

#lastModified {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}

footer {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: large;
    margin-top: 20px;
}