:root {
    --letters: rgb(0, 0, 0);
    --container-large: rgba(255, 255, 255, 0.733);
    --container-short: rgba(160, 160, 160, 0.76);
    --borders: rgba(0, 146, 231, 0.637);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    color: var(--letters);
    background-color: var(--borders);
}

header h1 {
    padding: 1rem;
    text-decoration: underline;
}

main {
    flex: 1;
    justify-content: center;
}


.hero img {
    width: 100%;
    height: auto;
}

picture {
    background-color: var(--borders);
}

section img {
    max-width: 6rem;
}

h2 {
    text-decoration: underline;
}

aside {
    height: 1rem;
    background-color: var(--letters);
}

.container {
    background-color: var(--container-short);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 2rem;
    margin: 0.5rem;
    text-align: center;
}

table td {
    font-size: 15px;
    font-weight: bold;
}

footer {
    background-color: var(--borders);
    padding: 2rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

@media (min-width:800px) {
    main {
        position: relative;
    }

    h2 {
        font-size: x-large;
    }

    .data {
        position: absolute;
        top: 2rem;
        left: 1rem;
        padding: 1rem;
        font-size: smaller;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        right: 1.5rem;
        padding: 1rem;
        font-size: smaller;
    }

    h2 {
        margin-bottom: .5rem;
    }

    .container-title img {
        display: none;
    }

    .container {
        background-color: var(--container-large);
    }

    .weather h2::after {
        content: '⛅';
    }

    header {
        font-size: x-large;
    }
}